<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign Up</h1>
        <h3>Error Validations</h3>
        <form action="/user/signup" method="post">
            <div class="form-group">
                <label for="email" >E-Mail</label>
                <input type="text" name="email" id="email" class="from-control">
            </div>
            <div class="form-group">
                <label for="password" >Password</label>
                <input type="password" name="password" id="password" class="from-control">
            </div>
            <input type="text" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-outline-success">Sign Up</button>

        </form>
        {{!-- {{csrfToken}} --}}
    </div>
</div>