<div>
{{#each products}}
    Product!
{{/each}}
</div>

<div class="row  mt-3">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41IrhiLorOL.jpg" class="card-img-top"
                alt="Sony Xperia">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div>
                <div class="price text-center">$22</div>
                <button type="button" class="btn btn-info btn-block">Info</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41IrhiLorOL.jpg" class="card-img-top"
                alt="Sony Xperia">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div>
                <div class="price text-center">$22</div>
                <button type="button" class="btn btn-info btn-block">Info</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41IrhiLorOL.jpg" class="card-img-top"
                alt="Sony Xperia">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div>
                <div class="price text-center">$22</div>
                <button type="button" class="btn btn-info btn-block">Info</button>
            </div>
        </div>
    </div>
</div>
<div class="row  mt-3">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41IrhiLorOL.jpg" class="card-img-top"
                alt="Sony Xperia">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div>
                <div class="price text-center">$22</div>
                <button type="button" class="btn btn-info btn-block">Info</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41IrhiLorOL.jpg" class="card-img-top"
                alt="Sony Xperia">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div>
                <div class="price text-center">$22</div>
                <button type="button" class="btn btn-info btn-block">Info</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="img-responsive" src="https://images-na.ssl-images-amazon.com/images/I/41IrhiLorOL.jpg" class="card-img-top"
                alt="Sony Xperia">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
            <div>
                <div class="price text-center">$22</div>
                <button type="button" class="btn btn-info btn-block">Info</button>
            </div>
        </div>
    </div>
</div>